<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing gene product</h1>

  <%= render "form", gene_product: @gene_product %>

  <%= link_to "Show this gene product", @gene_product, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to gene products", gene_products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
