<div id="<%= dom_id poly_vx_d %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= poly_vx_d.score %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this poly vx d", poly_vx_d, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this poly vx d", edit_poly_vx_d_path(poly_vx_d), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
