<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing connections between disorders and poly variants</h1>

  <%= render "form", poly_vx_d: @poly_vx_d %>

  <%= link_to "Show this connection", @poly_vx_d, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to connections", poly_vx_ds_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
