<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Poly vx ds</h1>
    <%= link_to "New poly vx d", new_poly_vx_d_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="poly_vx_ds" class="min-w-full">
    <%= render @poly_vx_ds %>
  </div>
</div>
