<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New scoring machine</h1>

  <%= render "form", scoring_machine: @scoring_machine %>

  <%= link_to "Back to scoring machines", scoring_machines_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
